simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
urllib3==1.25.8
vboxapi==1.0
wcwidth==0.1.9
webencodings==0.5.1
xattr==0.6.4
zipp==1.2.0
COVID-19-Cases==0.0.2
